<ion-view view-title="Recettes" >
  <ion-header-bar class="item-input-inset " >
    <label class="item-input-wrapper ">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Rechercher Une Recette" ng-model="searchText" ng-click="scrollTop()">
    </label>
    <button class="button button-clear" ng-click="searchText = undefined">
      Annuler
    </button>
  </ion-header-bar>

  <ion-content>
    <ion-refresher
          pulling-text="Tirer pour rafraîchir ..."
          on-refresh="increaseLimiter()">
      </ion-refresher>
    <ion-list>
        <div class="list card" ng-repeat="recette in recettes | filter: searchText |limitTo:limiter | orderBy:'-id' " >
          
          <a class="item item-image" href="#/tab/recettes/{{recette.id}}">
            <img ng-src="{{'http://bonprixtunisie.com/celialib/web/uploads/img/' + recette.image.id +'.'+recette.image.url}}" style="width: 100%; height: 100%">
          </a>
          <div class="item item-title ">
            <h2>{{recette.nom}}</h2>
            <p>Catégorie: {{recette.categorie.nom}}</p> 
            <div class="calm">
            <i class="icon ion-ios-timer"></i>
            {{recette.temp}} Minutes
            </div>
          </div>

        </div>  
      

    </ion-list>
  </ion-content>
</ion-view>
